<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		
		<meta name="description" content="Diploma assignment for Faculty of Computer and Information Science - University of Ljubljana">
		<meta name="author" content="Luka Prijatelj">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicon -->
		<link rel="icon" type="image/png" href="images/renderer-favicon.png" />

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/client.css">

		<!-- layouts -->
		<link rel="stylesheet" href="layoutsheets/common.css">
		<link rel="stylesheet" href="layoutsheets/client.css">

		
		<!-- constants -->
		<script>
			var IS_DEBUG_MODE = <%= constants.IS_DEBUG_MODE %>;
			var CANVAS_WIDTH = <%= constants.CANVAS_WIDTH %>;
			var CANVAS_HEIGHT = <%= constants.CANVAS_HEIGHT %>;
			var BLOCK_WIDTH = <%= constants.BLOCK_WIDTH %>;
			var BLOCK_HEIGHT = <%= constants.BLOCK_HEIGHT %>;
			var HOSTING_URL = '<%= constants.HOSTING_URL %>';
			var IS_CONSOLE_ENABLED = <%= constants.IS_CONSOLE_ENABLED %>;
		</script>

		<!-- scripts -->
		<script src="javascripts/enums.js"></script>
		<script src="javascripts/socket.io/socket.io.js"></script>
		
		<!-- Extension scripts -->
		<script src="javascripts/extensions/array.js"></script>
		<script src="javascripts/extensions/date.js"></script>
		<script src="javascripts/extensions/function.js"></script>
		<script src="javascripts/extensions/math.js"></script>
		<script src="javascripts/extensions/object.js"></script>
		<script src="javascripts/extensions/HTMLElement.js"></script>
		<script src="javascripts/extensions/console.js"></script>

		<!-- ThreeJS -->
		<script src="javascripts/threejs/three.js"></script>
		<script src="javascripts/threejs/OrbitControls.js"></script>
		<script src="javascripts/threejs/GLTFLoader.js"></script>
		
		<!-- Path tracing scripts -->
		<script src="javascripts/path-tracing/threex.keyboardstate.js"></script>
		<script src="javascripts/path-tracing/commonFunctions.js"></script>
		<script src="javascripts/path-tracing/pathTracingCommon.js"></script>
		<script src="javascripts/path-tracing/Geometry_Showcase.js"></script>		
		<script src="javascripts/path-tracing/FirstPersonCameraControls.js"></script>

		<!-- Ray tracing scripts -->
		<script src="javascripts/ray-tracing/RaytracingRenderer.js"></script>
		<script src="javascripts/ray-tracing/RaytracingWorker.js"></script>

		<!-- Classes scrips -->
		<script src="javascripts/classes/GridLayout.js"></script>
		<script src="javascripts/classes/CanvasLayout.js"></script>
		<script src="javascripts/classes/GltfLoader.js"></script>
	</head>
	<body>
		<div id="interface">

			<!-- Info about mouse position -->
			<section-inline>
				<label>Mouse positions (x, y)</label>
				<input type="number" id="mouse-x-input" class="loading disabled">
				<input type="number" id="mouse-y-input" class="loading disabled">
			</section-inline>
			<divider-x></divider-x>


			<!-- All cells will be rendered in this wrapper -->
			<section>
				<label>Rendered cells</label>				
				<div id="layout-wrapper" class="loading"></div>
			</section>
			<divider-x></divider-x>	


			<!-- Info about camera position -->
			<section-inline>
				<label>Camera positions (x, y, z)</label>
				<input type="number" id="camera-x-input" class="loading disabled">
				<input type="number" id="camera-y-input" class="loading disabled">
				<input type="number" id="camera-z-input" class="loading disabled">
			</section-inline>
			
			
		</div>

		<script src="javascripts/mouse.js"></script>
		<script src="javascripts/debug.js"></script>
		<script src="javascripts/client.js"></script>
	</body>
</html>
