<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<meta name="description" content="Diploma assignment for Faculty of Computer and Information Science - University of Ljubljana">
		<meta name="author" content="Luka Prijatelj">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicon -->
		<link rel="icon" type="image/png" href="images/admin-favicon.png" />

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/server-admin.css">

		<!-- layouts -->
		<link rel="stylesheet" href="layoutsheets/common.css">
		<link rel="stylesheet" href="layoutsheets/server-admin.css">

		<!-- constants -->
		<script>
			if (console)
			{
				console.type = 'client';
			}

			var IS_CONSOLE_ENABLED = <%= constants.IS_CONSOLE_ENABLED %>;

			var IS_DEBUG_MODE = <%= constants.IS_DEBUG_MODE %>;
			var CANVAS_WIDTH = <%= constants.CANVAS_WIDTH %>;
			var CANVAS_HEIGHT = <%= constants.CANVAS_HEIGHT %>;
			var BLOCK_WIDTH = <%= constants.BLOCK_WIDTH %>;
			var BLOCK_HEIGHT = <%= constants.BLOCK_HEIGHT %>;
			var HOSTING_URL = '<%= constants.HOSTING_URL %>';
		</script>


		<!-- Extension scripts -->
		<script src="javascripts/extensions/function.js"></script>
		<script src="javascripts/extensions/array.js"></script>
		<script src="javascripts/extensions/date.js"></script>
		<script src="javascripts/extensions/math.js"></script>
		<script src="javascripts/extensions/object.js"></script>
		<script src="javascripts/extensions/HTMLElement.js"></script>
		<script src="javascripts/extensions/console.js"></script>


		<!-- ----------------------------- -->
		<!-- Scripts that will be loaded asynchronously -->
		<!-- ----------------------------- -->
		<script src="javascripts/enums.js"></script>
		<script src="javascripts/socket.io/socket.io.js"></script>
		
		
		<!-- Classes scrips -->
		<script src="javascripts/classes/Exception.js"></script>
		<script src="javascripts/classes/Warning.js"></script>
		<script src="javascripts/classes/Thread.js"></script>
		<script src="javascripts/classes/Timer.js"></script>
		<script src="javascripts/classes/GridLayout.js"></script>
		<script src="javascripts/classes/CanvasLayout.js"></script>
	</head>
	<body class="loading">

		<!-- Interface -->
		<div id="interface" class="">

			<!-- All cells will be rendered in this wrapper -->
			<section>
				<h3>Rendered cells</h3>
				<wrapper class="layout"></div>
			</section>
			<divider-x-small></divider-x-small>


			<!-- Start new client button -->
			<section>
				<label>Clients connected</label>
				<flex>
					<input type="number" id="clients-connected-input" class="disabled">
					<button id="start-new-client-button" class="dark" onclick="GLOBALS._onStartNewClientClick()"></button>
				</flex>				
			</section>
			<divider-x></divider-x>		

	
			<flex>
				<!-- Canvas width and height inputs -->
				<section>
					<label>Canvas width (px)</label>
					<input type="number" id="canvas-width-input" class="">
				</section>
				<divider-y-small></divider-y-small>
				<section>
					<label>Canvas height (px)</label>
					<input type="number" id="canvas-height-input" class="">
				</section>
				<divider-y></divider-y>
				
				<!-- Block width and height inputs -->
				<section>
					<label>Block width (px)</label>
					<input type="number" id="block-width-input" class="">
				</section>
				<divider-y-small></divider-y-small>
				<section>
					<label>Block height (px)</label>
					<input type="number" id="block-height-input" class="">
				</section>
			</flex>
			<divider-x-small></divider-x-small>


			<!-- Recalculate button -->
			<button id="recalculate-layout-button" class="dark" onclick="GLOBALS._onRecalculateLayoutClick()"></button>
			<divider-x></divider-x>	


			<!-- Statistics -->
			<section>
				<h3>Statistics</h3>
				<flex>
					<section>
						<label>Average rendering time</label>
						<input type="number" id="avg-render-time-input" class="disabled">
					</section>					
					<divider-y-small></divider-y-small>
					<section>
						<label>Best speed</label>
						<input type="number" id="best-speed-input" class="disabled">
					</section>
				</flex>				
			</section>
			<divider-x></divider-x>	
		</div>		


		<!-- ----------------------------- -->
		<!-- Scripts that will be loaded synchronously -->
		<!-- ----------------------------- -->
		<script src="javascripts/api.js"></script>	
		<script src="javascripts/server-admin.js"></script>
	</body>
</html>